<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='css/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>The Archivist</title>
</head>
<body>
    <header>
        <h1>The Archivist</h1>
    </header>

    <main>
        <form method="POST" action="/" class="form">
            <label for="link">Input video URL:</label>
            <input type="url" name="link" id="link" required>
            <label for="option">Source:</label>
            <select name="option" id="option" required class="select-box">
                <option value="single">Video</option>
                <option value="channel">Channel</option>
                <option value="playlist">Playlist</option>
            </select>
            <button type="submit">Download Videos</button>
        </form>

        {% if downloaded_videos %}
            <div class="video-container">
                <div class="video-list-scrollbox">
                    <ul class="video-list">
                        {% for video in downloaded_videos %}
                            <li class="video-item">
                                <div class="video-thumbnail">
                                    <img src="{{ video['video'].thumbnail_url }}" alt="Thumbnail">
                                </div>
                                <div class="video-info">
                                    <p class="video-title">{{ video['video'].title }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="progress-bar">
                {% if total_videos > 0 %}
                    <div class="progress-fill" style="width: {{ (downloaded_videos|length / total_videos) * 100 }}%"></div>
                {% else %}
                    <div class="progress-fill" style="width: 0;"></div>
                {% endif %}
            </div>
            <p class="progress-text">
                Progress: {{ downloaded_videos|length }} / {{ total_videos }} videos
            </p>

            <a href="{{ url_for('download_zip') }}" class="btn btn-primary">Download File</a>
        {% endif %}
    </main>
    <p>{{ total_downloaded_videos }} files downloaded since 27 Aug 2023</p>

</body>
</html>
